<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head">
    <title id="pageTitle">Register</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="common-header">
        <div class="row">
            <a href="/newcard" class="btn btn-primary">New Card</a>
            <a href="/requestcard" class="btn btn-default">Request Physical Card</a>
        </div>
        <div class="row">
            <div class="list-group">
                <th:block th:each="card : ${cardList}">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3 th:text="${card.cardNumber}">card number</h3>
                                <p>You have <span th:text="${card.remainingCredit}">xxx</span> value remaining</p>
                                <p>
                                    <a th:href="@{/editcard/{id}(id=${card.giftcardID})}" class="btn btn-primary">Edit</a>
                                    <a th:href="@{/deletecard/{id}(id=${card.giftcardID})}" class="btn btn-default">Delete</a>
                                    <a th:href="@{/sellcard/{id}(id=${card.giftcardID})}" class="btn btn-default">Sell</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>